<script>new WOW().init();</script>
<main>
<main-header></main-header>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="center">GrundeGlass</h1>
        <div class="headshot">
          <img src="images/logo.png">
        </div>
        <div class="row center">
          <h5 class="center">Professional Glass Blowing.</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block wow fadeInLeft">
            <h2 class="center red-text text-darken-4"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Quick</h5>

            <p class="light">//stuff</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block wow fadeInLeft">
            <h2 class="center red-text text-darken-4"><i class="material-icons">group</i></h2>
            <h5 class="center">Buyer Experience Focused</h5>

            <p class="light">//stuff</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block wow fadeInLeft">
            <h2 class="center red-text text-darken-4"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">//stuff</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      <div id="carousel" class="flex-row content-center">
          <ul rn-carousel rn-carousel-index="10" rn-carousel-auto-slide="4" rn-carousel-controls class="carousel flex-column">
              <li ng-repeat="item in feed" class="center">
                <img class="carousel_img" ng-src="{{item.images.standard_resolution.url}}"/>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center wow fadeInLeft">
          <h3><i class="large material-icons red-text text-darken-4">code</i></h3>
          <h4>About Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class=class="socialmedia-container container">
        <div class="container row center">
          <a href="https://instagram.com/brentgrundeland/"><img class="icons" src="images/instagram.png"></a>
          <br>
          <a href="https://twitter.com/Grundesaur"><img class="icons" src="images/twitter.png"></a>
          <a href="https://www.facebook.com/brent.grundeland.9"><img class="icons" src="images/facebook.png"></a>
          <h5>Connect with me on social media.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
 </main>
