 <main-header></main-header>
 <div id="store-wrap">	
	<main>
		<div class=" width100 flex-column align-items-center">
		<div class="width100 center">	
			<div class="flex-column align-items-center container">
				<br />
				<cart></cart>
				<h4 class="center">All Items</h4>
				  <div class="row">
				  	<form class="col s12">
				      <div class="row">
				      	<div class="input-field col s12">
				  		<input ng-model="search" id="search" type="text" class="validate">
          				<label for="search">Search</label>
          				</div>
          			  </div>
				  	</form>
				  </div>
				<div class="flex-row wrap space-between">
					<div class="item black-text wow fadeInLeft" ng-repeat="product in products | filter:search">
						<product class="item"></product>
					</div>
				</div>
			</div>
		</div>
		<br />
		<br />
		</div>
		<a class="indent" ng-hide="!cart.length" ng-click="showCart()">{{cart.length}}<i class="material-icons">shopping_cart</i></a>
		<button class="block item black-text button" ng-hide="!cart.length" ng-click="checkout()">place order</button>
	</main>
</div>	
		